<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

<servlet>
        <servlet-name>Log4jInit</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.init.Log4jInit</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>/WEB-INF/log/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>PropertiesConfig</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.util.PropertiesConfig</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/WEB-INF/config.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>  
 
    <servlet>
        <servlet-name>DbPoolUtil</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.util.DbPoolUtil</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
   







    <!-- Start - Account Holder servlets -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.school.Login</servlet-class>
    </servlet>










    <!-- Start - Administrator servlets -->
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.admin.Login</servlet-class>
    </servlet>





 <!-- Servlet mapping start -->
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
      
    <!-- Start - Administrator servlet mapping -->
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/AdminLogin</url-pattern>      
    </servlet-mapping>
     
    <session-config>
        <session-timeout>8</session-timeout>
    </session-config>




    
</web-app>
