<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

<servlet>
        <servlet-name>Log4jInit</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.init.Log4jInit</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>/WEB-INF/log/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>PropertiesConfig</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.util.PropertiesConfig</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/WEB-INF/config.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>  
 
    <servlet>
        <servlet-name>DbPoolUtil</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.util.DbPoolUtil</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
   
    <servlet>
        <servlet-name>CacheInit</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.init.CacheInit</servlet-class>
        <init-param>
            <param-name>ehcache-file</param-name>
            <param-value>/WEB-INF/classes/ehcache.xml</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>


  <servlet>
        <servlet-name>FontImageGenerator</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.util.FontImageGenerator</servlet-class>
    </servlet>


   <servlet>
        <servlet-name>ResultUpload</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.upload.ResultUpload</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadFrom34</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.upload.UploadFrom34</servlet-class>
    </servlet>
   









    <servlet>
        <servlet-name>ClassList</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.result.ClassList</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>Form34List</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.result.Form34List</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportForm</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.result.ReportForm</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>ReportForm2</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.result.ReportForm2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportForm12</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.result.ReportForm12</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>ExportText</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.expoert.text.ExportText</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>UpdateExamConfig</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.exam.UpdateExamConfig</servlet-class>
    </servlet>









    <servlet>
        <servlet-name>SchoolLogin</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.school.Login</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>SchoolLogout</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.school.Logout</servlet-class>
    </servlet>









 <!-- start administrator -->




    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.admin.Login</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.admin.Logout</servlet-class>
    </servlet>


     <servlet>
        <servlet-name>AddSchool</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.admin.school.AddSchool</servlet-class>
    </servlet>


     <servlet>
        <servlet-name>UpdateSchool</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.admin.school.UpdateSchool</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddRootUser</servlet-name>
        <servlet-class>com.yahoo.petermwenda83.server.servlet.school.user.AddRootUser</servlet-class>
    </servlet>















<!-- start mapping -->







   
   <servlet-mapping>
        <servlet-name>FontImageGenerator</servlet-name>
        <url-pattern>/fontImageGenerator</url-pattern>
    </servlet-mapping> 

    <servlet-mapping>
        <servlet-name>ClassList</servlet-name>
        <url-pattern>/school/classList</url-pattern>
    </servlet-mapping> 

    <servlet-mapping>
        <servlet-name>Form34List</servlet-name>
        <url-pattern>/school/form34List</url-pattern>
    </servlet-mapping> 

     <servlet-mapping>
        <servlet-name>ReportForm</servlet-name>
        <url-pattern>/school/reportForm</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>ReportForm2</servlet-name>
        <url-pattern>/school/reportForm2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReportForm12</servlet-name>
        <url-pattern>/school/reportForm12</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExportText</servlet-name>
        <url-pattern>/school/exportText</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>UpdateExamConfig</servlet-name>
        <url-pattern>/school/updateExamConfig</url-pattern>
    </servlet-mapping>









     <servlet-mapping>
        <servlet-name>UploadFrom34</servlet-name>
        <url-pattern>/school/resultUpload</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>SchoolLogin</servlet-name>
        <url-pattern>/schoolLogin</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>SchoolLogout</servlet-name>
        <url-pattern>/schoolLogout</url-pattern>
    </servlet-mapping>



<!-- start admin mapping -->


    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin/adminLogin</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/admin/Logout</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>AddSchool</servlet-name>
        <url-pattern>/admin/addSchool</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>UpdateSchool</servlet-name>
        <url-pattern>/admin/updateSchool</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
        <servlet-name>AddRootUser</servlet-name>
        <url-pattern>/admin/addRootUser</url-pattern>
    </servlet-mapping>










       <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
      </error-page>

       <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
      </error-page>


     
    <session-config>
        <session-timeout>500</session-timeout>
    </session-config>




    
</web-app>
